<html>
<body>
  <div id="outer">

    <div class="container animate-bottom">

      <div class="row class-padding-top">

        <div class="col-md-6 offset-md-3">

          <div id="container" class="container">

            <div class="row">

              <!--komponen dengan isi jam-->
              <div class="col-md-10 offset-md-1">

                <h3 class="text-center class-text-jam-dinding">Jam Dinding</h3>
                <div>
                  <app-jam-waktu (eventEmitDates)="setTanggalSekarang()"></app-jam-waktu>
                </div>
                <h5 class="text-center class-text-jam-tanggal">{{stringTanggalSekarang}}</h5>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</body>
</html>
